.text-image{
    display: flex;
    justify-content: center;

    .text{
        width: 30%;
    }

    .image-container{
        width: 60%;
        padding-left: 10%;
        height: 100%;
        display: inline-block;

        .image{
            width: 100%;
            height: auto;
        }
    }
}

@media screen and (max-width: 800px) {
    .text-image{
        flex-direction: column;
    
        .text{
            width: 100%;
        }
        .image-container{
            width: 100%;
            padding-left: 0%;
        }
    }
}


