.text-image{
    display: flex;
    justify-content: center;

    .text{
        width: 40%;
    }

    button{
        background-color: rgb(71, 114, 255);
        color: white;
    }

    button:hover{
        background-color: rgb(255, 255, 255);
        color: rgb(71, 114, 255);
    }

    .image-container{
        width: 50%;
        padding-left: 10%;
        height: 100%;
        display: inline-block;

        .image{
            width: 100%;
            height: auto;
            box-shadow: 3px 3px 15px 1px rgba(0,0,0,0.75);
        }
    }
}

@media screen and (max-width: 800px) {
    .text-image{
        flex-direction: column;
    
        .text{
            width: 100%;
        }
        .image-container{
            width: 100%;
            padding-left: 0%;
        }
    }
}


