@import "../../node_modules/rfs/scss/_rfs.scss";
@import './components/textImage.scss';
@import './components/cards.scss';

body{
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: 'Sarabun', sans-serif;
    margin: 0px;
    height: 100%;
}

h1{
    @include responsive-font-size(3rem);
}

h1{
    @include responsive-font-size(2.5rem);
}

h1{
    @include responsive-font-size(2.2rem);
}

p{
    @include responsive-font-size(1.1rem);
}

.hide-scrollbar {
    overflow: auto;
}

section{
    padding: 120px 10%;
}

section:nth-child(even){
    background-color: rgb(255, 255, 255);
}

section:nth-child(odd){
    background-color: rgb(233, 233, 233);
}

button{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    background-color: rgb(255, 255, 255);
    color: rgb(23, 123, 180);
    border-radius: 30px;
    @include responsive-font-size(1.8rem);
    padding: 10px 40px;
    border: 0px;
    transition: 300ms;
}

button:hover{
    animation-direction: alternate;
    background-color: rgb(52, 50, 59);
    color: rgb(255, 255, 255);
}

button:focus {
    outline:0;
}

/* menu animation */
#menu-icon{
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 35px;
    margin: 10px 15px;
    z-index: 1000;
}

#menu-bar1, #menu-bar2, #menu-bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(241, 241, 241);
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 5px;
}

/* Rotate first bar */
.change #menu-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change #menu-bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change #menu-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}


#menu{
    pointer-events: none;
    top: 0px;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    right: 0px;
    width: 100%;
    max-width: 400px;
    height: 60px;

    #menu-list{
        pointer-events: all;
        transform: translateX(0px);
        text-align:center;
        margin: 0px;
        padding: 10px 0px 0px 0px;
        right: 0px;
        width: 100%;
        transition: 0s;
        height: 60px; 
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        z-index: 0;
    }
    
    li {
        float: right;
        text-decoration: none;
        list-style: none;
        text-align: center;
        font-size: 25px;
        padding: 10px 0px;
        font-weight: 700;
        font-family: 'Sarabun', sans-serif;
    }
    
    li:first-child {
        border-top: 0px;
    }
    
    li:hover {
        cursor: pointer;
        color: rgb(52, 50, 59);
        transition: 500ms;
    }
}

.open-menu{
    z-index: 10 !important;
    transform: translateX(0px);
    transition: 0.8s;

//    display: block !important;
}


@media screen and (max-width: 800px) {
    .hide-scrollbar {
        overflow: hidden;
    }

    #menu{
        max-width: 500px;
        height: 100%;
        transition: 0.8s;
        overflow: hidden;
    }

    .open-menu{
        z-index: 10 !important;
        transition: 2s;
        transform: translateX(0px) !important;
    }

    #menu-icon {
        cursor: pointer;
        display: block;
    }

    #menu #menu-list {
        z-index: -10;
        transition: 0.8s;
        transform: translateX(500px);
        height: 100%; 
        padding: 60px 0px;
        background-color: rgb(34, 34, 34);
        flex-direction: column;
        justify-content: start;
    }

    li:hover {
        background-color: white;
    }

    li {
        border-top: 1px solid rgba(255, 255, 255, 0.7);
    }    
}